/* Base class for backgrounds */
.section-background {
    background-size: cover;
    /* Ensures the background covers the entire section */
    background-repeat: no-repeat;
    /* Prevents the background from repeating */
    background-attachment: fixed;
    /* Makes the background stay fixed while scrolling */
    background-position: center top;
    /* Ensures the background stays centered */
    min-height: 100vh;
    /* Ensures the section has a minimum height of the viewport */
}

.sectionTwo {
    background-image: url("assets/img/home/home_05.svg");
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}

.expertise {
    background-image: url("assets/img/home/home_04.png");
    background-size: cover;
    /* Ensures the image covers the entire section */
    background-repeat: no-repeat;
    background-position: center top;
}

.works {
    background-image: url("assets/img/home/our_work_ng.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}

/* Responsive adjustments */
@media (max-width: 768px) {

    .section-background,
    .expertise {
        background-size: cover;
        /* Ensures the image covers the container, even on smaller screens */
        background-position: center top;
    }
}

@media (max-width: 1200px) {

    .section-background,
    .expertise {
        background-size: cover;
        background-position: center top;
    }
}